<body>
    <header id="users">
        <nav>
            <ul>
                <li><a href="./">HOME</a></li>
                <li><a href="./products">PRODUCTS</a></li>
                <li><a href="#users">USERS</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <br>
        <br>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        {{message}}

        <div>
            <h2>Ajánlatkérés napelemes rendszerre</h2>
            <p></p> Az Energia Kft készen áll Önnél egy prémium minőségű napelemes rendszer telepítésére. Első
            lépésként, az alábbi adatok megadását követően elkészítjük személyre szóló napelemes áramtermelő
            rendszerének árajánlatát. Az adatok megadásához kérem gördítsen lejjebb!
            </p>
        </div>
        <div class="container"></div>
        <form id="users-form" method="POST" action="/users">
            <div class="form-group">
                <label for="name">{{name}}</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Example name">
            </div>
            <div class="form-group">
                <label for="email">{{email}}</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="address">{{address}}</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Example address">
            </div>
            <div>
                <textarea class="form-control" id="description" name="description" cols="30" rows="10"
                    maxlength="500"></textarea>
            </div>
            <div>
                <input id="submit" type="submit" value="Ajánlatkérés" onclick="document.getElementById("
                    users-form").submit()" />
                {{!-- <input id="submit" type="submit" value="Ajánlatkérés" onclick="alert('Ajánlatkérését elküldte!')" /> --}}
            </div>
        </form>
        </div>
        {{!-- {{#each userData}}
        {{name}} - {{email}} - {{address}}
        {{/each}} --}}
        <script>
            function getProductId() {
                return String(window.location.href).split("product=")[1]
            }
        </script>
        <footer>
            <div class="copyright-section">
                <div>
                    <p>
                        &#169;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        | Made by Junászka Klaudia
                    </p>
                </div>
            </div>
        </footer>
</body>